@mixin aboutUsSection {
  section.about-us {
    text-align: center;

    .title {
      h1 {
        font-style: normal;
        font-weight: 600;
        color: #147fab;
        transition: font-size 0.5s ease 0.5s;
        will-change: font-size;
        font-size: 2.25rem;
        @include media(">lg-laptop") {
          font-size: 2.5rem;
        }
        @include media(">desktop") {
          font-size: 3rem;
        }
      }
    }

    .subtitle {
      max-width: 500px;
      height: 100%;
      font-weight: 500;
      font-size: 18px;
      line-height: 33px;
      margin: 50px 0 96px 0;
      color: #6c6c6c;
      transition: font-size 0.5s ease 0.5s, max-width 0.5s ease 0.5s;
      @include media(">tablet") {
        max-width: 610px;
        font-size: 22px;
      }
      @include media(">laptop") {
        font-size: 24px;
      }
      @include media(">lg-laptop") {
        font-size: 26px;
        max-width: 780px;
      }
    }

    .about-card {
      display: flex;
      justify-content: center;
      position: relative;
      @include media(">desktop") {
        width: 1400px;
        height: 100%;
      }
      .row {
        .col {
          margin-bottom: 5rem;
          .card {
            background-color: white;
            -webkit-filter: drop-shadow(0px 4px 43px rgba(133, 133, 133, 0.25));
            filter: drop-shadow(0px 4px 43px rgba(133, 133, 133, 0.25));
            width: 300px;
            height: 500px;
            padding: 36px 0;
            border-radius: 10px;
            .card-icon {
              height: 200px;
              overflow: hidden;
              $color-list: (
                1: #60b594,
                2: #d97c4c,
                3: #6fb9c8,
                4: #343537,
                5: #b560ac,
              );
              @each $list, $color in $color-list {
                .circle-icon-#{$list} {
                  z-index: 1;
                  position: absolute;
                  left: 28px;
                  top: 28px;
                  border-radius: 50%;
                  width: 105px;
                  height: 105px;
                  padding: 25px;
                  background-color: $color;
                  .icon {
                    width: 100%;
                    pointer-events: none;
                  }
                }
              }

              .card-img-top {
                height: 100%;
                transform: translateX(70px);
                pointer-events: none;
              }
            }
            .card-title {
              font-weight: bold;
              font-size: 28px;
              line-height: 38px;
            }
          }
        }
      }

      .circle {
        z-index: -1;
        position: absolute;
        top: 1000px;
        right: 0;
        width: 220px;
        height: 220px;
        background-color: rgba(0, 118, 188, 0.18);
        border-radius: 50%;
        transition: all 0.5s ease 0.5s;
        @include media(">tablet") {
          top: 400px;
        }
        @include media(">desktop") {
          left: 1000px;
        }
      }
    }
  }
}
