.contact-us {
  .newsletter {
    margin: 2rem 2rem 3rem 2rem;
    font-size: 18px;
    @include media(">laptop") {
      margin-top: 8rem;
    }
    .title {
      h1 {
        margin-bottom: 2rem;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        @include media(">laptop") {
          text-align: left;
          font-size: 2.25rem;
        }
        @include media(">lg-laptop") {
          font-size: 2.5rem;
        }
        @include media(">desktop") {
          font-size: 3rem;
        }
      }
    }

    .address {
      text-align: center;
      @include media(">laptop") {
        text-align: left;
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media(">laptop") {
        align-items: start;
      }
    }

    .address {
      position: relative;
      .circle {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #60b594;
        position: absolute;
        left: -4px;
        top: 8px;
        z-index: -1;
      }
    }

    .form-newsletter {
      .form-group {
        width: 100%;
        .form-control {
          background-color: #e1e6e9 !important;
          border: none !important;
        }
      }
      .btn-primary {
        background-color: #147fab;
        border-color: #147fab;
        &:hover {
          background-color: #116f94;
          border-color: #116f94;
        }
      }
    }
  }

  .map {
    width: 100vw;
    height: 100%;
    .title {
      h1 {
        margin-bottom: 2rem;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        @include media(">laptop") {
          text-align: left;
          font-size: 2.25rem;
        }
        @include media(">lg-laptop") {
          font-size: 2.5rem;
        }
        @include media(">desktop") {
          font-size: 3rem;
        }
      }
    }

    #map {
      width: 100vw;
      height: 500px;
    }
  }
}
