.services {
  .header {
    margin: 0 !important;
    .container-header {
      position: relative;
      .title {
        height: 100%;
        padding: 50px 25px;
        width: 100vw;
        text-align: center;
        transition: padding 0.5s ease 0.5s;
        will-change: padding;
        font-weight: 600;
        @include media(">phone") {
          padding: 50px 40px;
        }
        @include media(">tablet") {
          padding: 150px 40px;
        }
        h1 {
          color: #000000;
          transition: font-size 0.5s ease 0.5s;
          will-change: font-size;
          font-style: normal;
          font-weight: 600;
          font-size: 2rem;
          @include media(">laptop") {
            font-size: 2.25rem;
          }
          @include media(">lg-laptop") {
            font-size: 2.5rem;
          }
          @include media(">desktop") {
            font-size: 3rem;
          }
        }
      }

      .corp-img {
        width: 100vw;
        height: 370px;
        background-image: url("../../../Assets/img/about-header-img-corp.jpg");
        // background-repeat: no-repeat;
        background-position: -400px;
        background-size: cover;
        transition: height 0.5s ease 0.5s, width 0.5s ease 0.5s,
          background-position 0.5s ease 0.5s;
        will-change: height, width;
        @include media(">phone") {
          background-repeat: no-repeat;
          height: 450px;
          width: 100%;
        }
        @include media(">tablet") {
          height: 500px;
        }
        @include media(">laptop") {
          // background-position: -500px;
          background-position: initial;
          height: 550px;
        }
        @include media(">lg-laptop") {
          height: 600px;
        }
        @include media(">desktop") {
          background-size: cover;
          height: 660px;
        }
      }

      .description {
        width: 400px;
        height: 100%;
        // transform: translateY(-200px);
        position: relative;
        bottom: 120px;
        background-color: white;
        padding: 70px 30px;
        color: black;
        @include media(">tablet") {
          padding: 70px 110px;
          width: 888px;
        }
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 33px;
          @include media(">tablet") {
            font-size: 20px;
          }
          @include media(">laptop") {
            font-size: 22px;
          }
          @include media(">lg-laptop") {
            font-size: 24px;
          }
          @include media(">desktop") {
            font-size: 26px;
          }
        }
        .about-is {
          position: absolute;
          left: -50px;
          transform: rotate(270deg);
          font-size: 14px !important;
          font-weight: 600 !important;
          @include media(">tablet") {
            font-size: 16px !important;
            font-weight: 600 !important;
          }
        }
      }

      .circle {
        position: relative;
        right: 40%;
        bottom: 200px;
        width: 142px;
        height: 142px;
        font-weight: 600;
        background: rgba(111, 162, 96, 0.14);
        z-index: -1;
        @include media(">tablet") {
          right: 30%;
        }
        @include media(">laptop") {
          right: 30%;
        }
        @include media(">lg-laptop") {
          right: 26%;
        }
      }
    }
  }

  .service-1 {
    .title {
      margin-bottom: 3rem;
      h1 {
        color: #000000;
        transition: font-size 0.5s ease 0.5s;
        will-change: font-size;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        @include media(">laptop") {
          font-size: 2.25rem;
        }
        @include media(">lg-laptop") {
          font-size: 2.5rem;
        }
        @include media(">desktop") {
          font-size: 3rem;
        }
      }
      svg {
        transform: rotate(90deg);
      }
    }
    .services-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      @include media(">tablet") {
        align-items: start;
      }
      .vismis-img {
        width: 100vw;
        height: 200px;
        background-image: url("../../../Assets/img/service-port-img1-corp.jpg ");
        background-repeat: no-repeat;
        background-position: 0;
        background-size: 100%;
        transition: height 0.5s ease 0.5s, width 0.5s ease 0.5s,
          background-position 0.5s ease 0.5s, background-size 0.5s ease 0.5s;
        will-change: height, width, background-position, background-size;
        @include media(">tablet") {
          height: 300px;
        }
        @include media(">laptop") {
          // background-position: -500px;
          background-size: 454px;
          height: 550px;
        }
        @include media(">lg-laptop") {
          height: 600px;
        }
        @include media(">desktop") {
          background-position: initial;
          background-size: cover;
          height: 660px;
        }
      }

      .vismis-desc {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include media(">laptop") {
          margin-top: 0;
          height: 100%;
        }
        .vision {
          height: 100%;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1rem;
          @include media(">laptop") {
            margin-bottom: 0rem;
            align-items: start;
            height: auto;
          }
          .row {
            position: relative;
            .circle {
              height: 10px;
              width: 10px;
              border-radius: 50%;
              background-color: #60b594;
              position: absolute;
              left: -4px;
              top: 8px;
              z-index: -1;
            }
            h1 {
              color: #000000;
              transition: font-size 0.5s ease 0.5s;
              will-change: font-size;
              font-style: normal;
              font-weight: 600;
              font-size: 1.5rem;
              @include media(">desktop") {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }

  .service-2 {
    height: 100%;
    .title {
      margin-bottom: 3rem;
      h1 {
        color: #000000;
        transition: font-size 0.5s ease 0.5s;
        will-change: font-size;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        @include media(">laptop") {
          font-size: 2.25rem;
        }
        @include media(">lg-laptop") {
          font-size: 2.5rem;
        }
        @include media(">desktop") {
          font-size: 3rem;
        }
      }
      svg {
        transform: rotate(90deg);
      }
    }
    .port-1 {
      width: 100vw;
      height: 100%;
      .port-img {
        width: 100vw;
        height: 300px;
        background-image: url("../../../Assets/img/consultant-port-img1-corp.jpg");
        // background-repeat: no-repeat;
        background-position: -400px;
        background-size: cover;
        transition: height 0.5s ease 0.5s, width 0.5s ease 0.5s,
          background-position 0.5s ease 0.5s;
        will-change: height, width;
        @include media(">phone") {
          background-repeat: no-repeat;
          height: 450px;
          width: 100%;
        }
        @include media(">tablet") {
          height: 500px;
        }
        @include media(">laptop") {
          // background-position: -500px;
          background-position: initial;
          height: 550px;
        }
        @include media(">lg-laptop") {
          height: 600px;
        }
        @include media(">desktop") {
          background-size: cover;
          height: 660px;
        }
      }

      .service-desc {
        height: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;
        @include media(">laptop") {
          align-items: start;
          height: auto;
        }
        .row {
          position: relative;
          margin: 0 !important;
          .circle {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #60b594;
            position: absolute;
            left: -4px;
            top: 8px;
            z-index: -1;
          }
          h1 {
            color: #000000;
            transition: font-size 0.5s ease 0.5s;
            will-change: font-size;
            font-style: normal;
            font-weight: 600;
            font-size: 1.5rem;
            @include media(">desktop") {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  .service-3 {
    .title {
      // margin-bottom: 3rem;
      h1 {
        color: #000000;
        transition: font-size 0.5s ease 0.5s;
        will-change: font-size;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        @include media(">laptop") {
          font-size: 2.25rem;
        }
        @include media(">lg-laptop") {
          font-size: 2.5rem;
        }
        @include media(">desktop") {
          font-size: 3rem;
        }
      }
      svg {
        transform: rotate(90deg);
      }
    }
  }
}
