.navbar {
  .wrapper {
    transition: padding 0.5s ease 0.5s;
    will-change: padding;
  }
  .navbar-brand {
    .navbar__logo {
      width: 50px;
      @include media(">tablet") {
        width: 60px;
      }
      @include media(">lg-laptop") {
        width: 70px;
      }
    }
  }
}

.wrapper__navbar {
  width: 700px;
  font-size: 18px;
  font-weight: 600;
  transition: font-size 0.5s ease 0.5s, width 0.5s ease 0.5s;
  will-change: font-size, width;
  @include media(">desktop") {
    width: 750px;
    font-size: 20px;
  }

  .nav-link {
    &.active {
      color: #147fab !important;
    }
  }
  .wrapper__il8n {
    width: 100px;

    .nav-il8n {
      color: black;
      padding: 6px 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: rgb(228, 228, 228);
      }
      &.active {
        color: white;
        background-color: #147fab !important;
      }
    }
  }
}
